body {
    background-color: ghostwhite;
    font-family: Georgia;
}

div {
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

h1 {
    margin-top: 2em;
    text-align: center;
    text-decoration-color: aqua;
    
}

img {
    max-width: 60%;
}

a {
    
    text-decoration: none;
}



/*Navigation bar*/
.navBar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0em;
    margin-top: .5em;
    
}

.navBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25em;
    
}

.navBar a:hover {
    background-color: grey;
    color: black;
}

.navBar .hamburgerMenu {
    display: none;
}



/*Breakpoints and media queries for responsive design*/
@media screen and (max-width:450px){
    .navBar a:not(:first-child) {display:none;}
    .navBar a.hamburgerMenu {
        float:right;
        display: block;
    }
}

@media screen and (max-width:450px){ /*Hamburger toggle taken from w3schools.com*/
    /*Creates the vertical pop-up menu when hamburger icon is clicked on*/
    .navBar.responsive {position: relative;}
    .navBar.responsive a.hamburgerMenu {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


