body {
    background-color: ghostwhite;
    font-family: Georgia;
}

div {
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    border-bottom: 1px solid black;
}

.name {
    font-size: 150%;
}

h1 {
    margin-top: 2.5em;
    text-align: center;
    text-decoration-color: aqua;
    
}

img {
    max-width: 60%;
}

a {
    
    text-decoration: none;
}



/*Navigation bar*/
.navBar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0em;
    margin-top: .5em;
    padding: 0;
    width: 100%;
    
}

.navBar a.hamburgerMenu {
    display:none;
}

.navBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: .75em 1em;
    text-decoration: none;
    font-size: 1.25em;
    
}

.navBar a:hover {
    background-color: grey;
    color: black;
}



/*Breakpoints and media queries for responsive design*/
@media (max-width:540px){
    .navBar a{display:none;}
    .navBar a.hamburgerMenu {
        float:left;
        display: block;
    }
    .navBar {
        font-size:;
    }
}

@media (max-width:540px){ /*Hamburger toggle taken from w3schools.com*/
    /*Creates the vertical pop-up menu when hamburger icon is clicked on*/
    .navBar {
        position: relative;
    }
    .navBar.responsive {position: relative;}
    .navBar.responsive a.hamburgerMenu {
        right: 0;
        top: 0;
    }
    .navBar.responsive a {
        display: block;
        text-align: left;
        padding-right: .25em;
        padding-left: .25em;
        
    }
    
    h1 {
        margin-top: 1em;
    }
}


