/**12/15/2017 2:55 AM should be just main.css**/


/*Navigation bar*/
nav, footer {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: center;
    box-shadow: 0em .015em  .5em gray;
}

nav ul, footer {
    list-style-type: none;
}

nav {
    top:0;
    padding-top: 15px;
    padding-bottom: 15px;

}

footer {
    margin-left: 5%;
    bottom: 0;
    padding: 8px 4px;
    padding-top: 8px;
    width: 130px;
    border-radius: 10px;
    
}


nav a.hamburgerMenu, footer a.hamburgerMenu {
    display:none;
}

nav li, footer li{
    display: inline-block;
    margin: 0 0.5em;
}

nav a {
    text-decoration: none;
    border-bottom: 2px solid transparent;

}

nav a:hover {
    border-bottom: 2px dotted black;
}

nav a, p a, section a, .contact-section a{    
    transition: box-shadow .5s, color .5s;
    transition-delay: linear;
    font-size: 1em;
    color: darkgray;
    
}


nav a:hover, p a:hover, header a:hover, section a:hover, h4 a:hover{
    color:rgb(0, 100, 82);
    transition: 0.4s;

}


a {
    text-decoration: underline dotted black;

}


a:visited {
    text-decoration: underline dotted rgb(0, 100, 82);
    color: darkgray;
}

h2 a {
    text-decoration: none;
}


/*BODY CONTENT*/


header {
    padding-top: 70px;
    padding-left: 20%;
    padding-right: 27%;

    background-image: url('/static/images/mountain_svg_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    border-left: 8px solid black;
    min-height: 600px;

}

header h2 {
    border: none;
    margin: 0;
}

.email {
    color: rgb(0, 100, 82);
}

.header-container {
    padding-top: 70px;

}

body {
    background-color: white;
    font-family: Roboto , sans-serif;
    color: #3d3d3d;
    font-size: 1em;
    margin: 0;

}

main {
    padding-right: 0;
    padding-left: 0;
}


section {
    padding-left: 19%;
    padding-right: 19%;
    padding-top: 75px;
    padding-bottom: 75px;
    overflow: hidden;
}

.projects-section, .about-section {
    padding-top: 150px;
    padding-bottom: 150px;
}


section h3 {
    text-align: left;
    margin-left: 0;
}

.about-section {
    border-left: 8px solid #ffd039;
    background-image: url('/static/images/prof_pic_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.about-section p {
    line-height: 2;
}

.projects-section {
    border-left: 8px solid rgb(0, 100, 82);
    
    /**background-image: url('/static/images/mountain_svg_bg.png');**/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.contact-section {
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-section h4 {
    text-align: center;
    font-size: 1.1em;
}


mark{
    background-color: rgb(1, 64, 52);
    ;
    padding: 0 3px;
}

.name {
    font-size: 150%;
}

ul {
    padding: 0;
    margin: 0;
}

section ul {
    margin-left: 2em;
    font-size: 1.1em;
    line-height: 1.7;
}

footer ul img:hover {
    transform: scale(1);    
    transition: transform 0.5s ease;
    transform: scale(1.4);
}


#welcomeText {
    text-align: left;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    font-size: 3.5em;
}

h1 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    margin: 1.5em 19%;
    margin-bottom: 0;
    font-size: 4.5em;
}

h2 {
    font-family: 'Dosis', sans-serif;
    margin-top: 0;
    font-size: 3em;
}

#about-title {
    border-bottom: 2px dotted #ffd039;
}

#about-title a {
    color: #ffd039;
}

#projects-title {
    border-bottom: 2px dotted rgb(0, 100, 82);
}

#projects-title a {
    color: rgb(0, 100, 82); 
}


h3 {
    margin: 0 19%;
    margin-bottom: 0.25em;
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
    color: rgba(0,0,0,.7)
}

h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}


p {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.7;
}

.decorationImg {
    display: block;
    margin: 0 auto;
    margin-top: 3em;
    width: 200px;
}

.persona, .useCase {
    display: block;
    margin: 2em auto;
    box-shadow:0 .5em .5em rgba(0,0,0,0.15);
}

.persona {
    width: 75%;
}

.useCase {
    width: 90%;
    border: 2px solid lightgray;
}

.caption {
    padding-left: 10%;
}


/*FOOTER BAR*/

.resumeArrow {
    width:1em;
    vertical-align: top;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.resumeDownloadArrow {
    width:1em;
    vertical-align: top;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    
}






/*CARD STYLING*/

.card {
    border-radius: 5px;
    border: solid 3px #eaeaea;
    background: white;
    height: 30em;
    width: 240px;
    margin: 2% auto;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

.card:hover {
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.015), 0 10px 10px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.card a, .card-details h4{
    text-decoration: none;
    color: rgba(0,0,0,.7);
}

.card-details {
    font-size: 1em;
    padding: 0 10px;
    overflow: hidden;
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.5em;
}

.card-details p {
    color: rgba(0,0,0,0.70);
    padding-top: 0.5em;
    line-height: 1.5;
}

.card img {
    width: 100%;
    height: 230px;
    border-bottom: solid 3px #eaeaea;

}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

 .card-details {
    margin: 2px 0;
}

.card-details span {
    vertical-align: bottom;
}

.card-details span button {
    margin-right: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.cardImg {

    background: white;
    height: auto;
    width: 240px;
    height: 426px;
    margin: 2% auto;
    overflow: hidden;
    box-shadow:0 .5em .5em rgba(0,0,0,0.15);
}

.demo {
    display: block;
    margin: 3em auto;
    width: 75%;
}

.tomo {
    display: block;
    margin: 1em auto;
    margin-top: 3em;
    width: 40%;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);

}

.tomo:hover {
    box-shadow:  0 10px 10px rgba(0,0,0,0.35);
    transition: 0.5s;
}


/*--------Breakpoints and media queries for responsive design--------*/

/*----Smallest screens----*/
@media (max-width:760px){

    #welcomeText {
        font-size: 2em;
        text-align: center;
    }

    nav {
        padding-top: .7em;
        padding-bottom: .7em;
    }
    
    nav li {
        margin: 0 .15em;
    }

    h1 {
        padding-top: 2em;
        font-size: 2em;
        margin: 0.5em 5%;
    }
    
    h2 {
        font-size: 1.75em;
        margin-bottom: .25em;
    }
    
    h3 {
        margin: 0.5em 5%;
        margin-top: 1em;
        font-size: 1.25em;

    }
    
    .name {
        font-size: 125%;
    }
    
    body {
        font-size: 1em;
    }

    header {
        padding: 0 10px;
        padding-bottom: 30px;
        min-height: 0px;
        background-image:none;
        
    }

    section {
        padding: 20% 5%;
    }

    .about-section{
        background-image: none;
    }
    
    .contact-section {
        padding-left: 0;
    }

    .projects-section, .about-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
}




/*----Medium sized screens: laptops, tablets----*/
@media (min-width:760px) and (max-width:1480px){
    main{
        padding-right: 0;
        padding-left: 0;
    }      
    
}





/*----Larger desktop screens----*/
@media (min-width:1480px){
    body{
    }
    
    nav li {
        margin: 0 1em;
    }
    
    h1 {
        margin-top: 15%;
    }
}



}
