/**12/15/2017 2:55 AM should be just main.css**/


/*Navigation bar*/
nav, footer {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: center;
    box-shadow: 0em .015em  .5em gray;
}

nav {
    top:0;
    padding-top: 15px;
    padding-bottom: 15px;

}

footer {
    margin-left: 20%;
    margin-bottom: 0.5%;
    bottom: 0;
    padding: 8px 0;
    width: 150px;
    border-radius: 10px;
    
}


nav a.hamburgerMenu, footer a.hamburgerMenu {
    display:none;
}

nav li, footer li{
    display: inline-block;
    margin: 0 0.5em;
}

nav a {
    text-decoration: none;
    border-bottom: 2px solid transparent;

}

nav a:hover {
    border-bottom: 2px dotted black;
}

nav a, p a, header a {    
    transition: box-shadow .5s, color .5s;
    transition-delay: linear;
    background-color: white;
    font-size: 1em;
    color: darkgray;
    
}


nav a:hover, p a:hover, header a:hover{
    color:rgb(0, 100, 82);
    transition: 0.4s;

}

.card-details span {
    vertical-align: bottom;

}

.card-details span button {
    margin-right: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
}


a {
    text-decoration: underline dotted black;

}


a:visited {
    text-decoration: underline dotted rgb(0, 100, 82);
    color: darkgray;
}

h2 a {
    text-decoration: none;
}


/*BODY CONTENT*/


header {
    padding-top: 70px;
    padding-left: 20%;
    padding-right: 27%;

    background-image: url('/static/images/prof_pic_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    border-left: 8px solid black;
    min-height: 600px;

}

header h2 {
    border: none;
    margin: 0;
}

.email {
    color: rgb(0, 100, 82);
}

.header-container {
    padding-top: 70px;

}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
    font-size: 15px;
    margin-bottom: 5em;
    margin-left: 0;
    margin-right: 0;

}

main {
    padding-right: 0;
    padding-left: 0;
}


section {
    padding-left: 20%;
    width: 60%;
    padding-top: 50px;

}

.about-section {
    border-left: 8px solid rgb(0, 100, 82);
    padding-bottom: 100px
}

.about-section p {
    line-height: 2;
}

.projects-section {
    border-left: 8px solid #F27127;
    ;
}


mark{
    background-color: rgb(1, 64, 52);
    ;
    padding: 0 3px;
}

.name {
    font-size: 150%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul img:hover {
    transform: scale(1);    
    transition: transform 0.5s ease;
    transform: scale(1.4);
}


h1 {
    text-align: left;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
}

h2 {
    font-family: 'Dosis', sans-serif;
    margin-top: 0;
    border-bottom: 2px dotted rgb(0, 100, 82);
}

#projects-title {
    border-bottom: 2px dotted #F27127;

}


h3 {
    margin-bottom: 0.25em;
    font-size: 100%;
    margin-top: 2em;
}

h4 {
    margin-top: 5px;
    margin-bottom: 7px;
}

p {
    margin: 0;
}



/*FOOTER BAR*/

.resumeArrow {
    width:1em;
    vertical-align: top;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.resumeDownloadArrow {
    width:1em;
    vertical-align: top;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    
}






/*CARD STYLING*/

.card {
    border-radius: 5px;
    border: 2px solid rgba(242, 113, 39, 0.274);
    background: white;
    height: 410px;
    width: 240px;
    margin: 2% auto;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.015), 0 10px 10px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.card-details {
    font-size: 12px;
    padding: 0 10px;
    overflow: hidden;
}

.card-details p {
    line-height: 20px;
}

.card img {
    width: 100%;
    height: 230px;
    border-bottom: 2px solid lightgray;
}

.flex-container {
    display: flex;
    margin-bottom: 300px;
    flex-flow: row wrap;
    justify-content: space-between;
}

 .card-details {
    margin: 2px 0;
}





/*--------Breakpoints and media queries for responsive design--------*/

/*----Smallest screens----*/
@media (max-width:760px){

    nav {
        padding-top: .7em;
        padding-bottom: .7em;
    }
    
    nav li {
        margin: 0 .15em;
    }

    h1 {
        margin-top: 2em;
        font-size: 35px;
        text-align: center;
    }
    
    h2 {
        margin-bottom: .25em;
    }
    
    h3 {
        margin-top: .25em;
    }
    
    .name {
        font-size: 125%;
    }
    
    body {
        font-size: 95%;
    }

    header {
        padding: 0 10px;
        min-height: 0px;
        background-image: none;
    }

    section {
        padding: 5%;
        width: 90%;
    }
    
}




/*----Medium sized screens: laptops, tablets----*/
@media (min-width:760px) and (max-width:1480px){
    main{
        padding-right: 0;
        padding-left: 0;
    }      
    
}





/*----Larger desktop screens----*/
@media (min-width:1480px){
    body{
    }
    
    nav li {
        margin: 0 1em;
    }
    
    h1 {
        margin-top: 15%;
    }

}
