<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Brett Benner</title>
        <meta name="description" content="Online web portfolio for Brett Benner.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Brett Benner, Brett, Benner, Brett B">
        <meta name="author" content="Brett Benner">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    </head>
    <body>
  
            <!--Header + Navigation-->
            <nav class="navBar" id="myNavBar"><!--Main navigation bar for website linking to different sections-->
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}"> <img src="/static/images/arrow-back.svg" alt="email icon" height="14px" width="14px" fill="red"/>
                            Back to the home page!</a>
                    </li>
                </ul>
            </nav>
            <main>

                <h1>Climate Lens</h1>
                <h3>Providing the motivation, means, and connections to combat climate change in one central location</h3>
                <section>
                        <h2>The Problem</h2>
                        <h3>The Outline</h3>
                        <p>
                            This project was created as a means to utilize the interconnectedness and ubqiquity of mobile apps to motivate and empower the massive
                            pool of young phone users to actively combat climate change.
                            There currently exists no central hub where individuals can track local environmental causes and solutions to support.
                            Young adults are often educated and aware of climate change, but often take no action due to either:
                            <ul>
                                <li>not feeling as if they can make a difference</li>
                                <li>lack of interest in climate change in general</li>
                                <li>or not knowing what steps to take</li>
                            </ul>
                        </p>
                        <h3>Goals & Challenges</h3>
                        <ul>
                            <li>Inspire unmotivated young phone users to care about climate change</li>
                            <li>Make the fight against climate change interesting</li>
                            <li>Give tailored directions for users to participate in the fight</li>
                            
                            <br />
                            <li>How do we provide information without overwhelming or boring users?</li>
                            <li>How do we tailor information so that it is relevant to users?</li>
                            <li>How do we keep users coming back to the app?</li>
                        </ul>
                        <img class="decorationImg" src="/static/images/global_warming.png">
                    </section>
    
                    <section>
                        <h2>The Process</h2>
                        <h3>Understanding Our Users</h3>

                        <img class="useCase" src="/static/images/valuepropcanvas.png">
                        <i class="caption">Value Proposition Canvas for ClimateLens</i>

                        <img class="useCase" src="/static/images/cl_journeymap.png">
                        <i class="caption">User Journey Map/possible flows for ClimateLens</i>

                        <h3>The 3x3x3 Plan</h3>
                        <h4>Three Week</h4>
                        <ul>
                            <li>Goals: We aim to have an MVP with basic AR functionality for a single hotspot, pledging and liking functionality</li>
                            <li>Minimum Success Criteria: 25 unique signatures/pledges</li>
                            <li>Assessment Plans: requirements checking</li>
                            <li>Agenda: building MVP app and user testing</li>
                            <li>Main Risks: wasting too much time developing unnecessary functionality and aspects of the app.</li>
                            <li>Results: a basic MVP with core functionality, but no AR hotspot.</li>
                        </ul>
                        <h4>Three Month</h4>
                        <ul>
                                <li>Goals: To add social media and community functionality and create 50 hotspots in unique locations around california. Also to test thi s basic functional application with beta testers.</li>
                                <li>Minimum Success Criteria: Achieving 1,500 pledges and reaching a cooperative agreement with a local climate change organization.</li>
                                <li>Assessment Plans: user testing and signature count</li>
                                <li>Agenda: develop the AR hotspots and continue forward with user testing and analysis on beta testers</li>
                                <li>Main Risks: development difficulties with implementing AR feature, producing enough marketing to acquire 2,500 signatures</li>
                                <li>Progress: working MVP</li>
                        </ul>
                        <h4>Three year</h4>
                        <ul>
                            <li>Goals: To have a fully functional and usable application and have partnerships with sustainability organizations nationwide, and an active user community.</li>
                            <li>Minimum Success Criteria: To have financial sustainability with a coalition of climate change partners, active online community of activists.</li>
                            <li>Assessment Plans: evaluate partnerships with other organizations and user testing analysis</li>
                            <li>Agenda: reach out to climate change and pro-sustainability organizations</li>
                            <li>Main Risks: inability to form partnerships with organizations and losing our main channels and financial stability</li>
                        </ul>
                        
    
                    </section>
    
                    <section>
                        <h2>The Design</h2>
                            <h3>Onboarding Screens</h3>
                            <article class="flex-container">
                            <div class="cardImg">
                                <img src="/static/images/climatelens/onboard1.png">
                            </div>
    
                            <div class="cardImg">
                                <img src="/static/images/climatelens/onboard2.png">
                            </div>
                            <div class="cardImg">
                                <img src="/static/images/climatelens/onboard3.png">
                            </div>
                            <div class="cardImg">
                                <img src="/static/images/climatelens/onboard4.png">
                            </div>
                        </article>

                        <h3>Core Screens</h3>
                        <article class="flex-container">
                        <div class="cardImg">
                            <img src="/static/images/climatelens/appnav1.png">
                        </div>

                        <div class="cardImg">
                            <img src="/static/images/climatelens/appnav2.png">
                        </div>
                        <div class="cardImg">
                            <img src="/static/images/climatelens/ar3.png">
                        </div>
                        <div class="cardImg">
                            <img src="/static/images/climatelens/ar4.png">
                        </div>
                        <div class="cardImg">
                            <img src="/static/images/climatelens/participate5.png">
                        </div>
                        <div class="cardImg">
                            <img src="/static/images/climatelens/orgs6.png">
                        </div>
                        <div class="cardImg">
                            <img src="/static/images/climatelens/place7.png">
                        </div>
                        <div class="cardImg">
                            <img src="/static/images/climatelens/pledges8.png">
                        </div>
                    </article>

                        <h3>The Minimum Viable Product (iOS App)</h3>
                        <iframe class="demo" width="560" height="315" src="https://www.youtube.com/embed/nngo7sLMZrA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </article>
                    </section>
    
                    <section class="contact-section">
                            <h4>You can reach me at <a href="mailto:bbenner@uci.edu" target="_blank">bbenner@uci.edu!</a></h4>
                    </section>
    
                </main>
                <!--Contact information and social media links-->
                <footer class="contact"> 
                    <ul>
                        <li><a href="mailto:bbenner@uci.edu" target="_blank"><img src="/static/images/email-icon.svg" alt="email icon" height="24px" width="24px" fill="blue"/></a></li>
                        <li><a href="images/Resume_bbenner_2018.pdf" target="_blank" download><img src="/static/images/resume.svg" height="24px" width="24px"></a></li>
                        <li><a href="https://www.linkedin.com/in/brett-benner-6514a063/" target="_blank"><img src="/static/images/linkedin.svg" height="24px" width="24px" ></a></li>
                    </ul>
                </footer>  
    
        </body>
    
    </html>