<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Brett Benner</title>
        <meta name="description" content="Online web portfolio for Brett Benner.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Brett Benner, Brett, Benner, Brett B">
        <meta name="author" content="Brett Benner">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    </head>
    <body>
  
            <!--Header + Navigation-->
            <nav class="navBar" id="myNavBar"><!--Main navigation bar for website linking to different sections-->
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}"> <img src="/static/images/arrow-back.svg" alt="email icon" height="14px" width="14px" fill="red"/>
                            Back to the home page!</a>
                    </li>
                </ul>
            </nav>
            <main>

                <h1>Living Building: HVAC Control App</h1>
                <h3>Mobile application created to facilitate fair use and joint control over HVAC units in the new Living Buildings at UCSD.</h3>

                <section>
                    <h2>Project Outline</h2>
                    <p>New buildings are being created at UCSD which will seek to reduce energy usage by limiting HVAC (Heating Ventilation Air Conditioning) to zones of offices. 
                    Each zone will consist of 4 offices with 1 individual in each office primarily.
                    The client has asked for an app or website that will facilitate the fair and efficient use of the HVAC controls within a zone. 
                    </p>

                    <h3>Goals</h3>
                    <ul>
                        <li>Allow users to work in a comfortable temperature</li>
                        <li>Allow users to fairly and judiciously agree on settings for HVAC</li>
                        <li>Allow users to remain in control of their office space</li>
                        <li>Allow users to communicate with fellow individuals in their same HVAC space</li>
                        <li>Reduce overall HVAC usage</li>
                    </ul>

                    <h3>Constraints</h3>
                    <ul>
                        <li>HVAC control are located in one room in a zone</li>
                        <li>HVAC will shut off if any window is open</li>
                        <li>HVAC controls can only be accessed physically</li>
                    </ul>

                    <h3>Assumptions</h3>
                    <ul>
                        <li>Users will have different preferences in temperature
                        </li>
                        <li>Users will occasionally want to open their windows
                        </li>
                        <li>Users will be willing to negotiate and communicate
                        </li>
                    </ul>


                </section>


                <section>
                    <h2>The Research</h2>
                    <h3>Personas</h3>
                    <img class="persona" src="/static/images/hvac/Persona_ David.png">

                    <img class="persona" src="/static/images/hvac/Persona_ Lauren.png">

                    <h3>User Journey Maps</h3>
                    <img class="journeyMap" src="/static/images/hvac/user_journey/hot_day.png">
                    <img class="journeyMap" src="/static/images/hvac/user_journey/too_cold.png">
                    <img class="journeyMap" src="/static/images/hvac/user_journey/sick.png">
                    <img class="journeyMap" src="/static/images/hvac/user_journey/inaccessible.png">

                </section>

                <section>
                    <h2>Designs</h2>

                    <h3>User Flows</h3>
                    <img class="userFlow" src="/static/images/hvac/request.png">
                    <img class="userFlow" src="/static/images/hvac/chat.png">
                    <img class="userFlow" src="/static/images/hvac/window.png">

                    <h3>Clickable Mockups</h3>
                    <a href="https://www.figma.com/proto/B6maW1IubPLlfF1QX2NzoYdh/HVAC-Mockup?node-id=1%3A2&scaling=min-zoom" target="_blank">
                        https://www.figma.com/proto/B6maW1IubPLlfF1QX2NzoYdh/HVAC-Mockup?node-id=1%3A2&scaling=min-zoom
                    </a>

                    <h3>Screens</h3>
                    <article class="flex-container">

                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/Chat.png">
                    </div>
                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/Chat_typing.png">
                    </div>
                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/History.png">
                    </div>
                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/History_updated.png">
                    </div>
                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/HVAC_Off.png">
                    </div>
                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/Request_made.png">
                    </div>
                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/Request_pop-up.png">
                    </div>
                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/Requests_tab.png">
                    </div>
                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/Requests_tab-1.png">
                    </div>
                    <div class="cardImg">
                        <img src="/static/images/hvac/mockups/Requests_tab-2.png">
                    </div>
                    </article>

         

                </section>
    
                </main>
                <!--Contact information and social media links-->
                <footer class="contact"> 
                    <ul>
                        <li><a href="mailto:bbenner@uci.edu" target="_blank"><img src="/static/images/email-icon.svg" alt="email icon" height="24px" width="24px" fill="blue"/></a></li>
                        <li><a href="images/Resume_bbenner_2018.pdf" target="_blank" download><img src="/static/images/resume.svg" height="24px" width="24px"></a></li>
                        <li><a href="https://www.linkedin.com/in/brett-benner-6514a063/" target="_blank"><img src="/static/images/linkedin.svg" height="24px" width="24px" ></a></li>
                    </ul>
                </footer>  
    
        </body>
    
    </html>