<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Brett Benner</title>
        <meta name="description" content="Online web portfolio for Brett Benner.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Brett Benner, Brett, Benner, Brett B">
        <meta name="author" content="Brett Benner">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    </head>
    <body>
  
            <!--Header + Navigation-->
            <nav>
                <ul>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="static/assets/files/brettbenner_resume_2019v2.pdf" target="_blank">Resume</a></li>
                    <li><a href="mailto: bbenner@uci.edu">Bbenner@uci.edu</a></li>
                    <li><a href="https://www.linkedin.com/in/brett-benner-oc/" target="_blank"><img src="static/assets/icons/icon-linkedin.svg"></a></li>
                </ul>
            </nav>
            <main>
                <header class="header">
                    <div id="header-content">
                        <h1>Brett Benner</h1> 
                        <h3>A UX & product designer based in Orange County, California</h3>
                        </ul>
                    </div>
                </header>



                <!--About section and bio-->
                <section class="about-section">
                    <h2>Welcome to my site!</h2>
                    <p>I am a UX and product designer operating out of Orange County.
                        I graduated from the University of California, Irvine with a B.S. in <a href="https://www.informatics.uci.edu/undergrad/bs-informatics/" target="_blank">Informatics</a> and a specialization in Human-Computer Interaction back in 2018.
                        I've been honing my skills as a designer, team member, and project owner at a start-up called Composite Apps.
                    </p><br />
                    <p>
                            Outside of design I've been staying busy by keeping my house plants alive and listening to lots of <a href="https://www.youtube.com/watch?v=sT7bdybrjQQ" target="_blank">Gorgon City</a>.
                        My goals for this month are to finish an Augmented Reality design project, read <a href="https://www.amazon.com/Way-Kings-Brandon-Sanderson/dp/0765365278" target="_blank">Way Of Kings by Brandon Sanderson</a>, and learn to cook Char Siu.</a>
                    </p><br />

                </section>


                <!--List of past projects-->
                <section class="projects-section" id="projects">
                    <article class="flex-container">
                        <div class="card">
                            <a href="{{ url_for('ucsd') }}">
                                <img src="/static/images/parking.png">
                                <div class="card-details">
                                    <h4>UCSD App: Parking</h4>
                                    <span><button>Data Visualization</button><button>User Research</button><button>App Design</button></span>
                                    <p>Designed new real-time parking vacancy display for the UCSD app.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a href="{{ url_for('redesign') }}">
                                <img src="/static/images/redesign_sc.png">
                                <div class="card-details">
                                    <h4>UCSD: Parking Redesign</h4>
                                    <span><button>Data Visualization</button><button>User Research</button><button>App Design</button></span>
                                    <p>Redesign of the UCSD parking app with stronger focus on data visualization & utilization of less common lots.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a href="{{ url_for('hvac') }}">
                                <img src="/static/images/hvac_sc.png">
                                <div class="card-details">
                                    <h4>Living Building / HVAC Control App</h4>
                                    <span><button>User Research</button><button>App Design</button></span>
                                    <p>User research and UX design conducted for new Living Building HVAC control system.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a href="{{ url_for('portfolio') }}">
                            <img src="/static/images/mountain.png">
                                <div class="card-details">
                                    <h4>Portfolio & User Research</h4>
                                    <span><button>Web Design</button><button>User Research</button><button>Web Development</button></span>
                                    <p>Researched, designed and developed portfolio site for previous and current work.</p>
                                </div>
                            </a>
                        </div>                        
                        <div class="card">
                            <a href="{{ url_for('climatelens') }}">
                            <img src="/static/images/climatelense.png">
                                <div class="card-details">
                                    <h4>Hackathon: ClimateLens</h4>
                                    <span><button>Product Management</button><button>User Research</button><button>App Design</button></span>
                                    <p>Spearheaded user research processes for new climate change app and designed mockups & prototypes.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a target="_blank" href="https://www.figma.com/proto/OxGqai616fOW4ag9lkK1Nr/notifications-v2?node-id=10%3A14&scaling=scale-down">
                                <img src="/static/images/notifications_sc.png">
                                <div class="card-details">
                                    <h4>UCSD App: Notifications</h4>
                                    <span><button>Mock-Ups</button><button>App Design</button></span>
                                    <p>Designed notification & notification settings screens for UCSD app for version 1 release.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a target="_blank" href="https://www.figma.com/proto/KGUUmTWQHUB1uFGEiVhEM9Ig/5G1G-Yummi-Final-Design-Flow?node-id=59%3A2&scaling=scale-down">
                                <img src="/static/images/yummi.png">
                                <div class="card-details">
                                    <h4>Yummi: Onboarding Screens</h4>
                                    <span><button>Wireframing</button><button>Photoshop</button></span>
                                    <p>Designed onboarding process and screens for the Yummi food logging app.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a href="{{ url_for('tomo') }}">
                                <img src="/static/images/crane_logo.jpg">
                                <div class="card-details">
                                    <h4>Tomo No Kai: Graphic Design</h4>
                                    <span><button>Photoshop</button><button>Adobe Suite</button></span>
                                    <p>Designed graphics, logos, and marketing documents for Tomo No Kai club at UCI.</p>
                                </div>
                            </a>
                        </div> 
                        <div class="card">
                            <img src="/static/images/metamemory.jpg">
                            <div class="card-details">
                                <h4>UCI WMAP: MetaMemory</h4>
                                <span><button>App Deployment</button><button>HTML5</button><button>CSS</button><button>JS</button></span>
                                <p>Developed and deployed memory testing web apps for the Working Memory and Plasticity Lab at UCI.</p>
                            </div>
                        </div>
                        <div class="card">
                            <a target="_blank" href="http://carrieforbesinc.com/">
                                <img src="/static/images/carrieForbes.jpg">
                                <div class="card-details">
                                    <h4>Carrie Forbes: Website</h4>
                                    <span><button>HTML5</button><button>CSS</button><button>Wordpress</button></span>
                                    <p>Updated and transformed a static one page SquareSpace website into an online shop for the Carrie Forbes brand products.</p>
                                </div>
                            </a>
                        </div>
                    </article>
                </section>
            </main>
            <!--Contact information and social media links-->

    </body>

</html>