<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Brett Benner</title>
        <meta name="description" content="Online web portfolio for Brett Benner.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Brett Benner, Brett, Benner, Brett B">
        <meta name="author" content="Brett Benner">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    </head>
    <body>
  
            <!--Header + Navigation-->
            <nav class="navBar" id="myNavBar"><!--Main navigation bar for website linking to different sections-->
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#aboutTarget">About</a></li>
                    <li><a href="#projectsTarget">Projects</a></li>
                    <li><a href="/static/images/Resume_bbenner_2018.pdf" target="_blank">Resume</a></li>
                </ul>
            </nav>
            <main>
                <header class="header">
                    <h1 id="welcomeText">Hello! I'm <br><strong class="name">Brett Benner;</strong> <br>a UX designer, developer, & ambassador for the user.</h1>      
                </header>



                <!--About section and bio-->
                <section class="about-section">
                    <h2 id="about-title"><a name="aboutTarget">About</a></h2>
                    <p>Welcome to my site! I originally hail from San Diego where I developed a love for alt-rock, carne asada, and sun burns.
                        I graduated from the <a href="https://uci.edu/" target="_blank">University of California, Irvine</a> with a specialization in Human-Computer Interaction and a love for iterative design. 
                        I am currently working in Orange County as a <a href="https://theblog.adobe.com/what-does-a-ux-designer-actually-do/" target="_blank">UI/UX Designer</a>.
                    </p><br />
                    <p>
                        My goals for the season are to create a personal AR design project, finish Way Of Kings by Brandon Sanderson, and learn to cook Char Siu</a>
                    </p><br />
                    <p>
                        Outside of design I've been keeping myself busy improving my deadlift, reducing my closet to black or grey t-shirts, and keeping my Pothos plant alive!
                    </p> 
                </section>


                <!--List of past projects-->
                <section class="projects-section">
                    <h2 id="projects-title"><a name="projectsTarget">Projects</a></h2>
                    <article class="flex-container">
                        <div class="card">
                            <a href="{{ url_for('ucsd') }}">
                                <img src="/static/images/parking.png">
                                <div class="card-details">
                                    <h4>UCSD App: Parking</h4>
                                    <span><button>Data Visualization</button><button>User Research</button><button>App Design</button></span>
                                    <p>Designed new real-time parking vacancy display for the UCSD app.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a href="{{ url_for('redesign') }}">
                                <img src="/static/images/redesign_sc.png">
                                <div class="card-details">
                                    <h4>UCSD: Parking Redesign</h4>
                                    <span><button>Data Visualization</button><button>User Research</button><button>App Design</button></span>
                                    <p>Redesign of the UCSD parking app with stronger focus on data visualization & utilization of less common lots.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a href="{{ url_for('hvac') }}">
                                <img src="/static/images/hvac_sc.png">
                                <div class="card-details">
                                    <h4>Living Building / HVAC Control App</h4>
                                    <span><button>User Research</button><button>App Design</button></span>
                                    <p>User research and UX design conducted for new Living Building HVAC control system.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a href="{{ url_for('portfolio') }}">
                            <img src="/static/images/mountain.png">
                                <div class="card-details">
                                    <h4>Portfolio & User Research</h4>
                                    <span><button>Web Design</button><button>User Research</button><button>Web Development</button></span>
                                    <p>Researched, designed and developed portfolio site for previous and current work.</p>
                                </div>
                            </a>
                        </div>                        
                        <div class="card">
                            <a href="{{ url_for('climatelens') }}">
                            <img src="/static/images/climatelense.png">
                                <div class="card-details">
                                    <h4>Hackathon: ClimateLens</h4>
                                    <span><button>Product Management</button><button>User Research</button><button>App Design</button></span>
                                    <p>Spearheaded user research processes for new climate change app and designed mockups & prototypes.</p>
                                </div>
                            </a>
                        </div>
                    </article>
                </section>

                <section class="contact-section">
                    <h4>You can reach me at <a href="mailto:bbenner@uci.edu" target="_blank">bbenner@uci.edu!</a></h4>
                </section>
            </main>
            <!--Contact information and social media links-->
            <footer class="contact"> 
                <ul>
                    <li><a href="mailto:bbenner@uci.edu" target="_blank"><img src="/static/images/email-icon.svg" alt="email icon" height="24px" width="24px" fill="blue"/></a></li>
                    <li><a href="images/brettbenner_resume_2019v2.pdf" target="_blank" download><img src="/static/images/resume.svg" height="24px" width="24px"></a></li>
                    <li><a href="https://www.linkedin.com/in/brett-benner-6514a063/" target="_blank"><img src="/static/images/linkedin.svg" height="24px" width="24px" ></a></li>
                </ul>
            </footer>  

    </body>

</html>