<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Brett Benner</title>
        <meta name="description" content="Online web portfolio for Brett Benner.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Brett Benner, Brett, Benner, Brett B">
        <meta name="author" content="Brett Benner">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    </head>
    <body>
  
            <!--Header + Navigation-->
            <nav class="navBar" id="myNavBar"><!--Main navigation bar for website linking to different sections-->
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#aboutTarget">About</a></li>
                    <li><a href="#projectsTarget">Projects</a></li>
                    <li><a href="/static/images/Resume_bbenner_2018.pdf" target="_blank">Resume</a></li>
                </ul>
            </nav>
            <main>
                <header class="header">
                    <h1 id="welcomeText">Hello! I'm <br><strong class="name">Brett Benner;</strong> <br>a UX designer, developer, & advocate for intuitive interfaces.</h1>      
                </header>



                <!--About section and bio-->
                <section class="about-section">
                    <h2 id="about-title"><a name="aboutTarget">About</a></h2>
                    <p>Welcome to my site! I originally hail from San Diego where I developed a love for alt-rock, carne asada, and sun burns.
                        Just recently I graduated from the <a href="https://uci.edu/" target="_blank">University of California, Irvine</a> with a specialization in Human-Computer Interaction and a love for material ions. 
                        I am currently working in Orange County as a <a href="https://theblog.adobe.com/what-does-a-ux-designer-actually-do/" target="_blank">UX Designer & Researcher</a>.
                    </p><br />
                    <p>
                        My goals for the quarter are to continue developing my mock-up skills with <a href="https://medium.com/@mengto/figma-vs-sketch-c01e5e74eddd" target="_blank">Figma</a>, 
                        study best design practices online, and keep my JavaScript knowledge up to par with <a href="http://javascriptbook.com/" target="_blank">JavaScript and jQuery: Interactive Front-End Web Development.</a>
                    </p><br />
                    <p>
                        Outside of UX design I am keeping myself busy reading every Murakami book, reducing my closet to black or white t-shirts, and eating at 
                        <a href="https://www.yelp.com/biz/chan-chan-food-house-irvine-2" target="_blank">Chan Chan Food House</a>!
                    </p> 
                </section>


                <!--List of past projects-->
                <section class="projects-section">
                    <h2 id="projects-title"><a name="projectsTarget">Projects</a></h2>
                    <article class="flex-container">
                        <div class="card">
                            <a href="{{ url_for('ucsd') }}">
                                <img src="/static/images/pangea.png">
                                <div class="card-details">
                                    <h4>UCSD App: Parking</h4>
                                    <span><button>Figma</button><button>User Research</button><button>App Design</button></span>
                                    <p>Designed new parking and notification screens for UCSD app for version 1 release.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a href="{{ url_for('veritone') }}">
                                <img src="/static/images/veritone.jpg">
                                <div class="card-details">
                                    <h4>Veritone: Follow Me</h4>
                                    <span><button>ReactJS</button><button>Figma</button><button>Web Development</button></span>
                                    <p>Led the design processes for new ReactJS web application along with developing the scalable web app.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a href="{{ url_for('climatelens') }}">
                            <img src="/static/images/climatelense.png">
                                <div class="card-details">
                                    <h4>Hackathon: ClimateLens</h4>
                                    <span><button>Figma</button><button>User Research</button><button>App Design</button></span>
                                    <p>Spearheaded user research processes for new climate change app and designed mockups & prototypes.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a target="_blank" href="https://www.figma.com/proto/KGUUmTWQHUB1uFGEiVhEM9Ig/5G1G-Yummi-Final-Design-Flow?node-id=59%3A2&scaling=scale-down">
                                <img src="/static/images/yummi.png">
                                <div class="card-details">
                                    <h4>Yummi: Onboarding Screens</h4>
                                    <span><button>Figma</button><button>Photoshop</button></span>
                                    <p>Designed onboarding process and screens for the Yummi food logging app.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                                <img src="/static/images/crane_logo.jpg">
                                <div class="card-details">
                                    <h4>Tomo No Kai: Graphic Design</h4>
                                    <span><button>Photoshop</button></span>
                                    <p>Designed graphics, logos, and marketing documents for Tomo No Kai club at UCI.</p>
                                </div>
                        </div> 
                        <div class="card">
                            <img src="/static/images/metamemory.jpg">
                            <div class="card-details">
                                <h4>UCI WMAP: MetaMemory</h4>
                                <span><button>HTML5</button><button>CSS</button><button>JS</button></span>
                                <p>Developed and deployed memory testing web apps for the Working Memory and Plasticity Lab at UCI.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/static/images/carrieForbes.jpg">
                            <div class="card-details">
                                <h4>Carrie Forbes: Website</h4>
                                <span><button>HTML5</button><button>CSS</button><button>Wordpress</button></span>
                                <p>Updated and transformed a static one page SquareSpace website into an online shop for the Carrie Forbes brand products.</p>
                            </div>
                        </div>
                    </article>
                </section>

                <section class="contact-section">
                    <h4>You can reach me at <a href="mailto:bbenner@uci.edu" target="_blank">bbenner@uci.edu!</a></h4>
                </section>
            </main>
            <!--Contact information and social media links-->
            <footer class="contact"> 
                <ul>
                    <li><a href="mailto:bbenner@uci.edu" target="_blank"><img src="/static/images/email-icon.svg" alt="email icon" height="24px" width="24px" fill="blue"/></a></li>
                    <li><a href="images/Resume_bbenner_2018.pdf" target="_blank" download><img src="/static/images/resume.svg" height="24px" width="24px"></a></li>
                    <li><a href="https://www.linkedin.com/in/brett-benner-6514a063/" target="_blank"><img src="/static/images/linkedin.svg" height="24px" width="24px" ></a></li>
                </ul>
            </footer>  

    </body>

</html>