<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Brett Benner</title>
        <meta name="description" content="Online web portfolio for Brett Benner.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Brett Benner, Brett, Benner, Brett B">
        <meta name="author" content="Brett Benner">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    </head>
    <body>
  
            <!--Header + Navigation-->
            <nav class="navBar" id="myNavBar"><!--Main navigation bar for website linking to different sections-->
                <nav>
                        <ul>
                            <li><a href="" target="_blank">Projects</a></li>
                            <li><a href="static/assets/files/brettbenner_resume_2019v2.pdf" target="_blank">Resume</a></li>
                            <li><a href="" target="_blank"><img src="static/assets/icons/email-icon.svg"></a></li>
                        </ul>
                    </nav>
            <main>

                <h1>Tomo No Kai: Graphic Design</h1>
                <h3>Graphics & logo created for the Japanese-American club at the University of California, Irvine</h3>
                <section>
                    <h2>Designs</h2>
                    <a target="_blank" href="/static/images/tomo/crane_logo.jpg">
                        <img class="tomo" src="/static/images/tomo/crane_logo.jpg">
                    </a>
                    <i class="caption">Crane logo created for Tomo No Kai, used in club gear and flyers.</i>

                    <a target="_blank" href="/static/images/tomo/aif.jpg">
                        <img class="tomo" src="/static/images/tomo/aif.jpg">
                    </a>
                    <i class="caption">Flyer created for the 2017 Anteater Involvement Fair at UCI.</i>

                    <a target="_blank" href="/static/images/tomo/celebrate.png">
                        <img class="tomo" src="/static/images/tomo/celebrate.png">
                    </a>
                    <i class="caption">Flyer created for the 2018 Celebrate UCI fair.</i>


                </section>
    
                </main>
                <!--Contact information and social media links-->
                <footer class="contact"> 
                    <ul>
                        <li><a href="mailto:bbenner@uci.edu" target="_blank"><img src="/static/images/email-icon.svg" alt="email icon" height="24px" width="24px" fill="blue"/></a></li>
                        <li><a href="images/Resume_bbenner_2018.pdf" target="_blank" download><img src="/static/images/resume.svg" height="24px" width="24px"></a></li>
                        <li><a href="https://www.linkedin.com/in/brett-benner-6514a063/" target="_blank"><img src="/static/images/linkedin.svg" height="24px" width="24px" ></a></li>
                    </ul>
                </footer>  
    
        </body>
    
    </html>